html, body {
  height: auto;
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg-container {
border: 1px blue solid;

}

#colorTitleD3ID{

}
#startHudD3ID {

}
.startHud{
  fill: white;
  stroke: black;
  stroke-width: 2;
}
#quitBtnD3ID {

}
.quitBtn{
  fill: #e21e56;
  stroke: #e21e56;
}
#userBtnD3ID {

}
.userBtn{
  fill: #7ec434;
  stroke: #7ec434;
}
