html, body {
  height: auto;
  padding: 0;
  margin: 0;
}

#svg-container {
  background-color: purple;
  height: 100%;
}

#svg-1 {
  display: block;
  margin: auto;
  height: 100%;
}

.startHud {
  fill: white;
  stroke: black;
  stroke-width: 3;
}
#quitBtn {
  fill: rgb(162, 42, 42);
  stroke-width: 3;
}
#userBtn {
  fill: rgb(30, 214, 69);
}
